.ios, .md {

	page-home {

		.scroll-content {
		  background-color: #ecf0f1;
		  display: flex !important;
		  justify-content: center;
		}

		ion-list {
		  width: 90%;
		}

		ion-item-sliding {
		  margin-top: 20px;
		  border-radius: 20px;
		}

		ion-item {
		  border: none !important;
		  font-weight: bold !important;
		}

	}

}